header {
  background-image: linear-gradient(
      to top,
      rgba(9, 5, 47, 0.8),
      rgba(49, 29, 94, 0.8)
    ),
    url(../../assets/images/back-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px);
  padding-top: 100px;
  position: relative;
  .container{
    height: 100%;
  }
  .content{
    height: 100%;
  }
}

