   <section class="feedback">
     <div class="container">
       <div class="content">
         <div class="left">
           <h2>GIVE US A GOOD NEWS</h2>
           <form class="data">
             <input type="text" name="yourName" placeholder="Name">
             <input type="email" name="yourMail" placeholder="Email">
             <input class="title" name="yourTitle" placeholder="Subject">
             <textarea class="story" name="story" rows="10" cols="70" placeholder="Your Massage"></textarea>
             <button class="primary-button">SUBMIT</button>
           </form>
         </div>
         <div class="right">
           <h2>OUR HAPPY CLIENT</h2>

         </div>

       </div>
     </div>
   </section>