 <section class="quote">
   <div class="container">
     <div class="content">
       <h2>“</h2>
       <div class="text-slider">
         <div class="text-slider-item">
           <p>1 This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
             auctor aliquet. Aenean llicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
             nec
             sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
             Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non
             mauris vitae erat consequat auctor eu in elit. </p>
           <h4>JANE GALADRIEL</h4>
           <h5>CEO TENGKUREP</h5>
         </div>
         <div class="text-slider-item">
           <p>2 This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
             auctor aliquet. </p>
           <h4>John GALAD</h4>
           <h5>MARCETING TENGKUREP</h5>
         </div>
         <div class="text-slider-item">
           <p>3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ea!</p>
           <h4>JOHN DOE</h4>
           <h5>MANAGER</h5>
         </div>
         <div class="text-slider-item">
           <p>4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ea!</p>
           <h4>Joanne rowling</h4>
           <h5>WRITER</h5>
         </div>
         <div class="text-slider-item">
           <p>5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime cum odit placeat maiores
             sequi.
             Cumque nisi eveniet perspiciatis ipsam quis.!
           </p>
           <h4>Harry Potter</h4>
           <h5>Fictional hero :)</h5>
         </div>
       </div>
       <div class="img-slider">
         <div class="quote-imgs">
           <div class="quote-img">
             <img src="assets/images/2.png" alt="photo">
           </div>
         </div>
         <div class="quote-imgs">
           <div class="quote-img">
             <img src="assets/images/3.png" alt="photo">
           </div>
         </div>
         <div class="quote-imgs">
           <div class="quote-img">
             <img src="assets/images/4.png" alt="photo">
           </div>
         </div>
         <div class="quote-imgs">
           <div class="quote-img">
             <img src="assets/images/5.png" alt="photo">
           </div>
         </div>
         <div class="quote-imgs">
           <div class="quote-img">
             <img src="assets/images/1.png" alt="photo">
           </div>
         </div>
       </div>

     </div>
   </div>
 </section>