li {
    display: flex;
    button {
        color: white;
        padding: 10px 15px;
        font: 900 13px "Roboto", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.33px;
        transition: color 0.3s ease;
        &:active,
        &.hover {
            color: #10c9c3;
        }
    }
}
