    <section class="story">
      <div class="container">
        <div class="content">
          <div class="wrapper">
            <div class="left">
              <img class="story-logo" src="../../assets/images/replace-with-your-logo@3x.png"
                alt="replace-with-your-logo" />
            </div>
            <div class="right">
              <h2>OUR STORY</h2>
              <div class="text">
                <p>
                  This is Photoshop's version of Lorem Ipsum. Proin gravida nibh
                  vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                  bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                  nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                </p>
              </div>
              <div class="text">
                <p>
                  Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt
                  auctor a ornare odio. Sed non mauris vitae erat consequat
                  auctor eu in elit. Class aptent taciti sociosqu ad litora
                  torquent per conubia nostra, per inceptos himenaeos.
                </p>
              </div>
            </div>
          </div>
          <button class="primary-button" (click)="redirectTo(selectUrl)">LEARN MORE</button>
        </div>
      </div>
    </section>
    <section class="watch-story">
      <div class="container">
        <div class="content">
          <div class="show-video">
            <button class="watch-story-img">
              <img class="watch-story-logo" src="../../assets/images/play-icon@3x.png"
                alt="play-icon@3x.png" />
            </button>
            <div class="watch-story-legend">
              <h3>WATCH OUR STORY</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
