 <footer>
   <div class="container">
     <div class="content">
       <div class="topiks">
         <div class="left">
           <a routerLink="home"> <img class="logo" src="assets/images/logo.png" alt="logo" /></a>
           <p>lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed
             odio sit amet auctror a
             ornare odio non mauris vitae erat in elit</p>
         </div>
         <div class="center">
           <h4>OUR STUDIO</h4>
           <p>
             Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat
             11480 - Indonesia
           </p>
           <h5>(+62) 21-2224 3333</h5>
         </div>
         <div class="right">
           <h4>STAY IN TOUCH</h4>
           <div class="box">Subscribe our newsletter</div>
         </div>
       </div>
       <div class="under">
         <div class="left">
           <h5>HELP</h5>
           <h5>TERMS & CONDITION</h5>
           <h5>PRIVACY</h5>
         </div>
         <div class="right">
           <p>Copyright © 2015 - Tajem Creative</p>
         </div>
       </div>
     </div>
   </div>
 </footer>
