 <section class="team">
   <div class="container">
     <div class="content">
       <div class="team-legend">
         <div class="team-legend-heder">
           <h1>MEET OUR AMAZING TEAM</h1>
           <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
           <div class="separator"></div>
         </div>
         <div class="team-items">
           <div class="team-item">
             <img class="team-item-photo" src="assets/images/Spongebob.jpg" alt="team-item-photo" />
             <h4>SEMF UCUK</h4>
             <p>CEO & FOUNDER</p>
           </div>
           <div class="team-item">
             <img class="team-item-photo" src="assets/images/sqvi.jpg" alt="team-item-photo" />
             <h4>DIK ADALIN</h4>
             <p>ENGINEERING</p>
           </div>
           <div class="team-item">
             <img class="team-item-photo" src="assets/images/Patrick_Star.svg.png" alt="team-item-photo" />
             <h4>JENG KOL</h4>
             <p>DESIGNER</p>
           </div>
           <div class="team-item">
             <img class="team-item-photo" src="assets/images/crabs.jpg" alt="team-item-photo" />
             <h4>PET ROMAK</h4>
             <p>MARKETING</p>
           </div>
         </div>
         <p>Become part of our dream team, let’s join us ! </p>
       </div>
       <button class="primary-button">WE ARE HIRING</button>
     </div>
   </div>
 </section>