  <section class="works">
    <div class="works-legend">
      <h2>OUR WORKS</h2>
      <p>See All Project in dribbble ></p>
    </div>
    <div class="works-items">
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt="team-item-photo" />
      </div>
      <div class="work-item">
        <img class="work-item-photo" src="assets/images/sbob.png" alt=" team-item-photo" />
      </div>
    </div>
    <div class="botton">
      <button class=" primary-button">LOAD MORE</button>
    </div>
  </section>